*{
    text-decoration: none;
 }
  a:link, a:visited, a:active {
    text-decoration:none;
    color: rgb(46, 46, 46);
}
.itemZoom{
  transition: 0.5s ease;
   -moz-transition: 0.5s ease; /* Firefox */
   -webkit-transition: 0.5s ease; /* Chrome - Safari */
   -o-transition: 0.5s ease; /* Opera */
}
.itemZoom:hover{
  z-index: 100;
  box-shadow: -9px 10px 15px 9px rgba(217,217,217,1);
  transform : scale(1.1);
  -moz-transform : scale(1.1); /* Firefox */
  -webkit-transform : scale(1.1); /* Chrome - Safari */
  -o-transform : scale(1.1); /* Opera */
  -ms-transform : scale(1.1); /* IE9 */
}
.texto{
  text-align: left;
  font-size: 24px;
  color: #333333;

}
.textoPrice{
  font-size: medium;
  font-weight: bold;
  text-align: left;
}