.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.parent-button1{
  background-color:#f14e4e;
}
.parent-button2{
  background-color:#4ef18f;
}
.parent-button3{
  background-color:#9a4ef1;
}
.card-widget{
  width: 25px;
  margin-right: -14px;
  cursor: pointer;
}

.card-widget-none{
  display: none;
}
.stylegreeting{
  color: #0947c3;
}
.cart-count{
  font-size: 12px;
  font-weight: bold;
  color: aliceblue;
  position: relative;
  top: -5px;
  
}